# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# TODO
# Remove things that aren't being used
# Add caching to the dependencies downloaded from PyPi, to speed up the workflow

name: Publish plantstar_shared package

on:
  push:
    paths:
      - 'setup.py'

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      if: contains(github.event.head_commit.message, 'Bump version number')
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install dependencies
      if: contains(github.event.head_commit.message, 'Bump version number')
      run: |
        python -m pip install --upgrade pip
        pip install build
        sudo apt update
        sudo apt install libpq-dev
    - name: Build package
      if: contains(github.event.head_commit.message, 'Bump version number')
      run: python -m build
    - name: Publish package
      if: contains(github.event.head_commit.message, 'Bump version number')
      uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
